<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="GoodsMapper">
  
  <resultMap type="com.greedy.chap01.section01.connection.xmlconfig.GoodsDTO" id="goodsResultMap">
  	<id property="no" column="Goods_NO"/>
  	<result property="name" column="GOODS_NAME"/>
  	<result property="price" column="GOODS_PRICE"/>
  	<result property="typeNo" column="GOODS_TYPE_NO"/>
  	<result property="writerMemberNo" column="GOODS_WRITER_MEMBER_NO"/>
  	<result property="createdDate" column="CREATED_DATE"/>
  	<result property="status" column="GOODS_STATUS"/>
  	<result property="modifiedDate" column="MODIFIED_DATE"/>
  </resultMap>
  
  <select id="selectGoodsList" resultMap="goodsResultMap">
         SELECT
                A.GOODS_NAME
              , A.GOODS_PRICE
              , A.GOODS_TYPE_NO
              , A.GOODS_WRITER_MEMBER_NO
              , A.CREATED_DATE
              , A.GOODS_STATUS
              , A.MODIFIED_DATE
          FROM MG_GOODS A
         WHERE A.GOODS_STATUS = 'Y'
         ORDER BY A.GOODS_NO       
  </select>
  
  </mapper>
  
  